<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'helper/css/main.css' %}">
</head>
<body>
    <h1>Add a New Course</h1>
        <form action='/courses/add' method='post'>
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" name="name">
            <br>
            Description:
            <br>
            <textarea name="description"></textarea>
            <br>
            <button name="add">Add</button>
        </form>
    <table border="3">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for i in course_data %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.description}}</td>
            <td>{{i.created_at}}</td>
            <td><a href="/courses/remove/{{i.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</body>
</html>