* {
    font-family: 'Franklin Gothic Medium';
}
.register, .login{
    display: inline-block;
    min-width: 400px;
    vertical-align: top;
}
label{
    display: block;
}
h1, h2{
    color: rgb(15, 69, 119);
}
button{
    display: block;
}
th, td, tr {
    min-width: 100px;
}
.jobs, .my_jobs{
    display: inline-block;
    vertical-align: top;
}
