<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in user_data %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.first_name}} {{i.last_name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.created_at}}</td>
                <td>
                    <a href="/users/{{i.id}}">Show </a>
                    <a href="/users/{{i.id}}/edit">Edit </a>
                    <a href="/users/{{i.id}}/delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
    </tbody>
    <a href="/users/new"><button>Add A New User</button></a>
</body>
</html>